<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
    <stringAttribute key="ATL File Name" value="/tp.fil/src/tp/fil/main/DataComputation.atl"/>
    <stringAttribute key="ATL VM" value="EMF-specific VM"/>
    <stringAttribute key="ATL_COMPILER" value="atl2006"/>
    <booleanAttribute key="IS_REFINING" value="false"/>
    <mapAttribute key="Input">
        <mapEntry key="IN" value="Java"/>
    </mapAttribute>
    <mapAttribute key="Libs"/>
    <mapAttribute key="Model Handler">
        <mapEntry key="Data" value="EMF"/>
        <mapEntry key="Java" value="EMF"/>
    </mapAttribute>
    <mapAttribute key="ModelType">
        <mapEntry key="Data" value="METAMODELOUTPUT"/>
        <mapEntry key="IN" value="MODELINPUT"/>
        <mapEntry key="Java" value="METAMODELINPUT"/>
        <mapEntry key="OUT" value="MODELOUTPUT"/>
    </mapAttribute>
    <mapAttribute key="Options">
        <mapEntry key="OPTION_CLEAR" value="false"/>
        <mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
        <mapEntry key="OPTION_DERIVED" value="true"/>
        <mapEntry key="allowInterModelReferences" value="false"/>
        <mapEntry key="printExecutionTime" value="false"/>
        <mapEntry key="step" value="false"/>
        <mapEntry key="supportUML2Stereotypes" value="false"/>
    </mapAttribute>
    <listAttribute key="OrderedInput">
        <listEntry value="IN"/>
    </listAttribute>
    <listAttribute key="OrderedOutput">
        <listEntry value="OUT"/>
    </listAttribute>
    <mapAttribute key="Output">
        <mapEntry key="OUT" value="Data"/>
    </mapAttribute>
    <mapAttribute key="Path">
        <mapEntry key="Data" value="/tp.fil/src/tp/fil/resources/Data.ecore"/>
        <mapEntry key="IN" value="/PetStore/PetStore_java.xmi"/>
        <mapEntry key="Java" value="uri:http://www.eclipse.org/MoDisco/Java/0.2.incubation/java"/>
        <mapEntry key="OUT" value="/PetStore/Petstore_data.xmi"/>
    </mapAttribute>
    <listAttribute key="Superimpose"/>
</launchConfiguration>
