<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
    <stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
    <booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
    <booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/PetStoreExample.zip_expanded/PetStore/Petstore_data.xmi"/>
    <stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/PetStoreExample.zip_expanded/PetStore/"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/tp.fil/src/tp/fil/main/GenerateSQL.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tp.fil.main.GenerateSQL"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="tp.fil"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;C:/Users/simon/eclipse-workspace/PetStoreExample.zip_expanded/PetStore/Petstore_data.xmi&quot; &quot;C:/Users/simon/eclipse-workspace/PetStoreExample.zip_expanded/PetStore&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tp.fil"/>
</launchConfiguration>
