<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.modisco.workflow.launchType">
    <listAttribute key="serializedWorkflow">
        <listEntry value="DataComputation"/>
        <listEntry value="0"/>
        <listEntry value="org.eclipse.m2m.atl.adt.launching.atlTransformation"/>
        <listEntry value="GenerateSQL"/>
        <listEntry value="0"/>
        <listEntry value="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType"/>
    </listAttribute>
</launchConfiguration>
